@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&family=Ubuntu:wght@300;400;700&display=swap');

:root {
  --primary-green: rgb(67, 167, 132);
  --primary-orange: rgb(222, 131, 62);
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-red: rgb(208, 58, 58);
  --primary-hover-red: red;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
}


/************************NAVBAR********************/
/*-----------menu links----*/

nav a.nav-link {
  font-weight: 500;
  letter-spacing: .0375px;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

/* nav bar customizatio   */
.navbar-nav > li > a {
  margin-right: .75rem;
  margin-left: .75rem;
  color: var(--primary-green) !important;
  border-top: 0.3rem solid var(--primary-dark)
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
border-top: 0.3rem solid var(--primary-orange)
}

.navbar-brand{
  color: rgb(56, 171, 107) !important;
}

/* ********************HEADER********************* */

.header-wrapper{
  position: relative;
  background: url(/Users/scott/kenzie/portfolio-landing-page/portfolio-landing-page/src/assets/johannes-plenio-YRBPT5x5aLw-unsplash.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 150vh;
}

.main-info{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  z-index: 1;
}

.main-info h1{
  /* color: aqua; */
  text-transform: uppercase;
}

/* ****************Typed Text*********** */

.typed-text{
  font-size: 2rem;
  color: whitesmoke;
}

/* ****************Header Main Offer Button*********** */

.btn-main-offer{
border: 1px solid var(--primary-green);
text-transform: uppercase;
border-radius:0 ;
padding: .75rem ;
color: rgb(203, 188, 165);
margin: 2rem;
}

.btn-main-offer:hover{
  background-color: red;
  color: white;
}