@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&family=Ubuntu:wght@300;400;700&display=swap');

:root {
  --primary-green: rgb(67, 167, 132);
  --primary-orange: rgb(222, 131, 62);
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-red: rgb(208, 58, 58);
  --primary-hover-red: red;
  --primary-light-grey: rgb(177, 177, 177);
}

body {
  font-family: 'Nanum Gothic', sans-serif !important;
  background-color: black;
}


/************************NAVBAR********************/
/*-----------menu links----*/

nav a.nav-link {
  font-weight: 500;
  letter-spacing: .0375px;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

/* nav bar customizatio   */
.navbar-nav > li > a {
  margin-right: .75rem;
  margin-left: .75rem;
  color: var(--primary-green) !important;
  border-top: 0.3rem solid var(--primary-dark)
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
border-top: 0.3rem solid var(--primary-orange)
}

.navbar-brand{
  color: rgb(56, 171, 107) !important;
}

/* ********************HEADER********************* */

.header-wrapper{
  position: relative;
  background: url(/Users/scott/kenzie/portfolio-landing-page/portfolio-landing-page/src/assets/johannes-plenio-YRBPT5x5aLw-unsplash.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main-info{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  z-index: 1;
}

.main-info h1{
  /* color: aqua; */
  text-transform: uppercase;
}

/* ****************Typed Text*********** */

.typed-text{
  font-size: 2rem;
  color: whitesmoke;
}

/* ****************Header Main Offer Button*********** */

.btn-main-offer{
border: 1px solid var(--primary-green);
text-transform: uppercase;
border-radius:0 ;
padding: .75rem ;
color: rgb(203, 188, 165);
margin: 2rem;
}

.btn-main-offer:hover{
  background-color: red;
  color: white;
}



/* ********************About Me********************* */
.about-me-container{
  /* background-color: blanchedalmond; */
}

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;

}

.profile-img {
  /* width: 16rem; */
  border-radius: 50%;
  padding: .3rem;
  border: 1px solid var(--primary-orange);
  
}

.about-header-wrapper{
  display: flex;
  background-color: rgb(42, 44, 51);
  border-radius: 50%;
  justify-content: center;
}

.about-header{
  color: whitesmoke;
  text-transform: uppercase;
  padding: 2rem;
  
}

.paragraph{
  
  color: whitesmoke ;
}

.paragraph-wrap{
  background-color: rgb(42, 44, 51);
  border-radius: 10%;
}

@media(max-width: 468px) {
  .profile-img{
    width: 12rem;
  }
}


/* ********************SERIVCES**********/

.paragraph {
  padding: 2rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.services{
  text-align:center;
  padding-bottom: 2rem;
  background: var(--primary-light-grey);
  width: 100%;
}

.services .box{
  /* height: 16rem; */
  border-bottom: solid rgb(0,0,0);
  border-bottom: 0.3125rem solid var(--primary-orange);
  padding: .625rem;
  margin-bottom: 1.875rem;
  background: rgb(255,255,255);
  transition: 0.3s ease-in-out;
}

.services .box:hover {
  background: var(--primary-orange);
  border-bottom: 0.3125rem solid rgb(0,0,0);
}

/* ********************Portfolio******************************/

.portfolio{
  text-align: center;
  padding-bottom: 2rem;
  width: 100%;
}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
}



/* ********************Contact****************************************/



.contacts {
  background: var(--primary-dark) !important;
  padding: 3rem 0;
}

.contacts h1{
color: black;

padding: 1.3rem 0;
text-transform: uppercase;
}

.contacts p{
  color: black;
  font-size: 1.2rem;
}


/* ************************ Inputs ********************************/

.contacts input, .contacts textarea{
  width: 100%;
  box-sizing: border-box;
  background: white ;
  resize: none;
  border: 0;
  border-bottom: .125rem solid black;
  border-radius: 0;
  top: 0;
  margin-bottom: 2.5rem;
}

.contacts .container{
  padding: 4rem 0;
}
  .contacts textarea{
    height: 10rem !important;

  }

.error-message{
  color: red;
  background: black;
}

.success-message{
  color: green;
  font-weight: bold;
  background: blanchedalmond;
}

/* ************************ Media ************************/
@media(max-width: 768px){
  .contacts {
    overflow-x: hidden;
  }

  .contacts .container {
    padding: 0 1rem;
  }

  .contacts p {
    padding: 0 1rem;
  }

}


/* ************************ Footer ************************/

.footer{
  background:black ;
  color: white;
  padding: 3rem;
}

.footer p{
  margin: 0;
}