@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&family=Ubuntu:wght@300;400;700&display=swap');

:root {
  --primary-white: rgb(227, 236, 238);
  --primary-orange: rgb(222, 131, 62);
  --primary-dark: rgba(255, 255, 255, 0);
}

body {
  font-family: 'Nanum Gothic', sans-serif;
}


/************************NAVBAR********************/
/*-----------menu links----*/

nav a.nav-link {
  font-weight: 500;
  letter-spacing: .0375px;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

/* nav bar customizatio   */
.navbar-nav > li > a {
  margin-right: .75rem;
  margin-left: .75rem;
  color: var(--primary-white) !important;
  border-top: 0.3rem solid var(--primary-dark)
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
border-top: 0.3rem solid var(--primary-orange)
}

.navbar-brand{
  color: rgb(61, 207, 210) !important;
}